{% extends '@modules:bVVinarstvi/layouts/site-layout/site-layout.twig' %}

{% block content %}
  <div class="blog-header">
    <h1 data-aos="fade-up" data-aos-delay="0">
      {{ 'Události, zajímavosti a novinky'|t }}
    </h1>
  </div>
  <div class="blog">
    <div class="blog-content">
      {% for post in posts %}
        <div class="blog-post-around col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6"
          data-aos="fade-up"
          data-aos-delay="200">
          <a href="clanky/{{ post.slug }}">
            <div class="blog-post">
              {% set thumbnail = image(post.photo, 620, null, 85) %}
              <img src="{{ thumbnail.src }}"
                width="{{ thumbnail.width }}"
                height="{{ thumbnail.height }}"
                alt="{{ block.data.label }}"
                style="position:absolute" />
              <div class="blog-post-content">
                <h3>
                  {{ post.title }}
                </h3>
                <ul class="meta">
                  <li>
                    {{
                      post.created_at|format_datetime(
                        pattern = 'dd. MMMM, yyyy',
                        locale = __layout.lang
                      )
                    }}
                  </li>
                  <li>{{ 'Tisková zpráva'|t }}</li>
                </ul>
                {% if post.description %}
                  <p>
                    {{ post.description }}
                  </p>
                {% endif %}
                <div class="arrow">
                  <span>{{ 'Celý článek'|t }}</span>
                </div>
              </div>
              <div class="overlay"></div>
            </div>
          </a>
        </div>
      {% endfor %}
      <!--                <div class="page-nav" data-aos="fade" data-aos-delay="200">
                    <ul>
                        <li class="disable left" style="background-image: url('images/icons/left-arrow.png');"></li>
                        <a href="clanky"><li class="active">1</li></a>
                        <a href="2-clanky"><li>2</li></a>
                        <a href="3-clanky"><li>3</li></a>
                        <a href="2-clanky"><li class="right" style="background-image: url('images/icons/right-arrow.png');"></li></a>
                    </ul>
                </div>                -->
    </div>
  </div>
{% endblock %}
