<div class="menu">
  <ul class="menu-content">
    <li class="menu-item">
      <h2>
        {{ "O nás"|t }}
      </h2>
      <a href="{{ "historie"|frlink }}">{{ "Historie"|t }}</a>
      <a href="{{ "clanky"|frlink }}">{{ "Články a tiskoviny"|t }}</a>
    </li>
    <li class="menu-item">
      <h2>
        {{ "Obchod"|t }}
      </h2>
      <a target="_blank" href="https://www.bvshop.cz/">E-shop</a>
      <a href="{{ "vinoteka"|frlink }}"> {{"Obchod \\ Vinotéka"|t}} </a>
      <a href="{{ "prodejni-mista"|frlink }}"> {{"Prodejní místa"|t}} </a>
    </li>
    <li class="menu-item">
      <h2>
        {{ "Kontakt"|t }}
      </h2>
      <a href="{{ "kontakt"|frlink }}">{{"Kontakt"|t}}</a>
      <a href="{{ "szif"|frlink }}">SZIF</a>
      <!--  <a href="#">Obchodní podmínky</a>
                    <a href="#">GDPR</a>   -->
    </li>
  </ul>
</div>

<nav {% if (darkMode) %} class="dark" {% endif %} >
  <div class="nav-content">
    <a href="{{ ""|frlink }}"><div class="logo"></div></a>
    <button class="dark-button mode">
      {{ "Světlý mód"|t }}<svg xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="22"
        height="22"
        viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#cbc4ae">
            <path d="M85.91042,5.65495c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172v17.2c-0.02924,2.06765 1.05709,3.99087 2.843,5.03322c1.78592,1.04236 3.99474,1.04236 5.78066,0c1.78592,-1.04236 2.87225,-2.96558 2.843,-5.03322v-17.2c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482zM33.23542,27.51328c-2.33099,0.00516 -4.42686,1.42094 -5.30189,3.58146c-0.87502,2.16052 -0.35502,4.63575 1.31543,6.26151l12.16094,12.16094c1.43803,1.49773 3.57338,2.10104 5.58255,1.57725c2.00917,-0.52379 3.5782,-2.09282 4.10199,-4.10199c0.52379,-2.00917 -0.07952,-4.14453 -1.57725,-5.58255l-12.16094,-12.16094c-1.08213,-1.11238 -2.56894,-1.73861 -4.12083,-1.73568zM138.58542,27.51328c-1.48951,0.04438 -2.90324,0.6669 -3.94167,1.73568l-12.16094,12.16094c-1.49771,1.43803 -2.10101,3.57338 -1.57722,5.58254c0.52379,2.00916 2.09281,3.57818 4.10197,4.10197c2.00916,0.52379 4.14451,-0.07951 5.58254,-1.57722l12.16094,-12.16094c1.69569,-1.64828 2.20555,-4.16851 1.28389,-6.3463c-0.92166,-2.17779 -3.08576,-3.56638 -5.44952,-3.49667zM86,45.86667c-22.16503,0 -40.13333,17.96831 -40.13333,40.13333c0,22.16503 17.96831,40.13333 40.13333,40.13333c22.16503,0 40.13333,-17.96831 40.13333,-40.13333c0,-22.16503 -17.96831,-40.13333 -40.13333,-40.13333zM11.46667,80.26667c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h17.2c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843zM143.33333,80.26667c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h17.2c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843zM45.35156,120.74714c-1.48951,0.04438 -2.90324,0.6669 -3.94167,1.73567l-12.16094,12.16094c-1.49772,1.43803 -2.10102,3.57338 -1.57723,5.58254c0.52379,2.00916 2.09281,3.57819 4.10198,4.10198c2.00916,0.52379 4.14451,-0.07951 5.58254,-1.57723l12.16094,-12.16094c1.69569,-1.64828 2.20555,-4.16851 1.28389,-6.3463c-0.92166,-2.17779 -3.08576,-3.56638 -5.44952,-3.49667zM126.48047,120.74714c-2.33303,0.00061 -4.43307,1.41473 -5.31097,3.57628c-0.8779,2.16155 -0.3586,4.6395 1.31331,6.26669l12.16094,12.16094c1.43803,1.4977 3.57338,2.10098 5.58252,1.57719c2.00915,-0.52379 3.57817,-2.09281 4.10196,-4.10196c0.52379,-2.00915 -0.07949,-4.14449 -1.57719,-5.58252l-12.16094,-12.16094c-1.07942,-1.10959 -2.56163,-1.73559 -4.10964,-1.73567zM85.91042,137.52161c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172v17.2c-0.02924,2.06765 1.05709,3.99087 2.843,5.03322c1.78592,1.04236 3.99474,1.04236 5.78066,0c1.78592,-1.04236 2.87225,-2.96558 2.843,-5.03322v-17.2c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482z"></path>
          </g>
        </g>
      </svg>
    </button>

    <button class="light-button mode" style="display:none;">
      {{ "Tmavý mód"|t }}<svg xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="22"
        height="22"
        viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#000000">
            <path d="M87.935,161.68c-42.79844,0 -77.615,-34.81656 -77.615,-77.615c0,-33.2175 21.68813,-62.78 53.95156,-73.57031c1.42437,-0.47031 2.98312,0.02688 3.85656,1.22281c0.88687,1.20938 0.90031,2.84875 0.02687,4.05813c-5.93937,8.22375 -13.0075,21.36562 -13.0075,37.24875c0,35.19281 28.63531,63.82812 63.84156,63.82812c15.88312,0 29.025,-7.06812 37.23531,-12.99406c1.22281,-0.87344 2.84875,-0.87344 4.05812,0.01344c1.20938,0.88687 1.69313,2.44562 1.22281,3.85656c-10.79031,32.26344 -40.35281,53.95156 -73.57031,53.95156z"></path>
          </g>
        </g>
      </svg>
    </button>
    <button class="menu-trigger" id="menu07">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
