{% extends '@modules:bVVinarstvi/layouts/site-layout/site-layout.twig' %}

{% block content %}
  <div class="blog-detail">
    <div class="blog-detail-content">
      <span class="type">{{ 'Tisková zpráva'|t }}</span>
      <h1>
        {{ data.title }}
      </h1>
      <span class="type">
        {{
          post.created_at|format_datetime(
            pattern = 'dd. MMMM, yyyy',
            locale = __layout.lang
          )
        }}
      </span>
      <div class="paragraph">
        {% include '@modules:bVVinarstvi/components/BlocksRenderer.twig' with {
          blocks: data.content.blocks
        } %}
      </div>
    </div>
  </div>
  {% if prevPost %}
    <a href="{{ ('clanky/' ~ nextPost.slug)|frlink }}">
      <div class="post-nav">
        <div class="post-nav-inner">
          <img src="/images/icons/left-arrow.png" />
        </div>
        <div class="post-nav-content">
          <span>{{ 'Předchozí článek'|t }}</span>
        </div>
      </div>
    </a>
  {% else %}
    <a href="{{ 'clanky'|frlink }}">
      <div class="post-nav">
        <div class="post-nav-inner">
          <img src="/images/icons/left-arrow.png" />
        </div>
        <div class="post-nav-content">
          <span>{{ 'Zpět na výběr článku'|t }}</span>
        </div>
      </div>
    </a>
  {% endif %}

  {% if nextPost %}
    <a href="{{ ('clanky/' ~ nextPost.slug)|frlink }}">
      <div class="post-nav right">
        <div class="post-nav-inner">
          <img src="/images/icons/right-arrow.png" />
        </div>
        <div class="post-nav-content">
          <span>{{ 'Další článek'|t }}</span>
        </div>
      </div>
    </a>
  {% else %}
    <a href="{{ 'clanky'|frlink }}">
      <div class="post-nav right">
        <div class="post-nav-inner">
          <img src="/images/icons/right-arrow.png" />
        </div>
        <div class="post-nav-content">
          <span>{{ 'Zpět na výběr článku'|t }}</span>
        </div>
      </div>
    </a>
  {% endif %}
{% endblock %}
